.header{
    background-color: #82b1a1;
    border: 7px solid #1e2e23;
    padding: 2px;
    margin: 2px ;
}
h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'BRoya';
}
h4{
    font-size: 20px;
    text-align: center;
    
}
h5{
    font-size: 15px;
    text-align: center;
    
}
h3{
    color: red;
    text-align: center;
    font-size: 12px;
}
*{
    padding: 1px;
    margin: 2px;
}
#div1{
    background-color: lightgrey;
    border: 5px solid #1e2e23 ;
    float: right;
    width: 32%;
    color:black;
    text-align: right;
    font-size: large;
    text-align: end;
}
#div2{
    background-color: darkgray;
    border: 5px solid #1e2e23 ;
    float: right;
    width: 32%;
    color:black;
    text-align: right;
    font-size: large;
    text-align: end;

}
#div3{
    background-color: darkgray;
    border: 5px solid #1e2e23 ;
    float: right;
    width: 32%;
    color:black;
    text-align: right;
    font-size: large;
    text-align: end;

}
a{
    background-color: darkgrey;
    border-radius: 15px;
    margin-left: 93%;
    padding: 3px;
    border: 2px solid #1e2e23;
    width: 5%;
}